header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .top-bar {
    background-color: #173B67;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;

    .contact-ifo {
      display: flex;
      align-items: center;

      svg {
        margin-right: 8px;
      }

      & > *:not(:last-child) {
        margin-right: 15px;
      }
    }

    .social-icons {
      svg {
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }

  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .logo {
      height: 70px;
    }

    nav {
      ul {
        list-style: none;
        display: flex;
        align-items: center;

        li {
          margin-right: 20px;
          position: relative;

          a {
            text-decoration: none;
            color: #173B67;
            font-weight: bold;
            &:hover {
              color: #c3b51b;
            }
          }

          &.dropdown:hover .dropdown-content {
            display: block;
          }

          .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            min-width: 160px;
            z-index: 1;

            a {
              display: block;
              padding: 10px;
              text-decoration: none;
              color: #173B67;
              &:hover {
                background-color: #f1f1f1;
              }
            }
          }
        }
      }
    }
  }
}
