.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff3d3d; // Match the background color
    padding: 2rem;
    text-align: center;
    color: #fff;
    width: 100%; // Make the container take full width
    box-sizing: border-box;
    margin-top: 30px;
  
    .info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; // Center contents vertically
      padding: 1rem;
      flex: 1; // Allow equal distribution of space among info boxes
      min-width: 200px; // Ensure minimum width for small screens
      max-width: 300px; // Ensure maximum width to keep layout neat
  
      .info-icon {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #fff;
      }
  
      .info-text {
        h3 {
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
        }
        p {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  
    @media (max-width: 768px) {
      flex-direction: column;
  
      .info-box {
        margin-bottom: 1rem;
      }
    }
  }
  